body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  text-align: center;
  padding: 40px;
}

form {
  margin-bottom: 20px;
}

input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 70%;
  background: #fff;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
}

th {
  background-color: #5F259F;
  color: white;
}
